*.txt
*.obj
*.XML
*.user
*.tlog
*.log
*.htm
*.res
*.manifest
*.lastbuildstate
*.pdb
*.rc
*.dep
*.css
*.xslt
*.idb
*.ipch
*.vcproj
*.vcxproj
*.sln
*.filters
*.suo
*.sdf
*.svn
*.pro
_UpgradeReport_Files/
Debug/
Release/
ipch/